# Created by venv; see https://docs.python.org/3/library/venv.html
# Ignore environment variable files
.env
env.py
venv/

# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Django
*.pyc
db.sqlite3
/media

# VS Code
.vscode/
settings.json

# Heroku
*.orig

# Unittest
# --- Tests (Django/Python) ---
tests/
**/tests/**
**/test_*.py
**/*_test.py
**/tests.py

# pytest / coverage artifacts
.pytest_cache/
.coverage
coverage.xml
htmlcov/

# Ignore only this unit test
languages/tests/test_unit.py