# Created by venv; see https://docs.python.org/3/library/venv.html
# Ignore environment variable files
.env
env.py
venv/

# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Django
*.pyc
db.sqlite3
/media

# VS Code
.vscode/
settings.json

# OS
.DS_Store
Thumbs.db

# Heroku
*.orig